body {
    background-color: #141517;
}
.board {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

 /*
.board .card {
    align-items: center;
}
*/

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #191e23;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    padding: 5px;
    border-radius: 4px;
    width: 225px;
    min-height: 120px;
    flex-shrink: 0;
    margin-bottom: 30px;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    background: transparent;
    backdrop-filter: blur(8px);
    color: #4f6776;
}

#title {
    font-size: 38px;
    color: #f4f4f4;
    font-weight: bold;
}

#button-container {
    position: absolute; /* Posiciona el contenedor del botón */
    left: 45px; /* Ajusta según lo necesario para la alineación izquierda */
    top: 100px; /* Ajusta según lo necesario para la posición vertical */
}

#add-button {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 30px;
}

.task {
    background: #2d3d46;
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.task:hover {
    background: #334652;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.hidden {
    display: none;
}